---
---

{% include bootstrap/css/bootstrap.min.css %}

html,
body {
  height: 100%;
}

.container {
    max-width: 730px;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}
